

/* body { 
  margin:0; 
  padding:0;
  font-family:'Vast Shadow', cursive,'Maven Pro', sans-serif; 
  background-image: url("/static/png/mixedaniamls4.jpg");
   background-image: "{{ url_for('static', filename='png/mixedaniamls4.jpg') }}"; 
   background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  } */
 

  
  body { 
    margin:0; 
    padding:0;
    font-family: 'Vast Shadow', cursive;
    font-family: 'Maven Pro', sans-serif;
    background-image: ("static/png/mixedaniamls4.jpg");
    background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    .h1,.h3, .p3{
    font-family:'Vast Shadow', cursive;
    }
    .p,.p1, .p2{
    font-family: 'Maven Pro', sans-serif;
    }
    
    .btn-primary {
        color: #fff;
        background-color: #b56c5e;
        border-color: #3d2520;
    }
    .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #e05f0f;
        border-color: #561c16;
    }
    
    /* .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
       width: auto;
    height:240px;
    margin-left: auto;
    margin-right: auto;
    } */

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
       width: 100%;
        height:100%;
    }
    #menu {
      position: absolute;
      background: #fff;
      padding: 10px;
      font-family: 'Indie Flower', cursive;
      }
    
    .legend {
      line-height: 18px;
      color: #555;
      font-family: 'Indie Flower', cursive;
    }
    .legend i {
      width: 28px;
      height: 18px;
      float: left;
      margin-right: 20px;
      opacity: 0.7;
      font-family: 'Indie Flower', cursive;
    }
    
  #map-id {
    height: 100%;
    padding: 0;
    margin: 0;
  }