<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8' />
    <title>FAAC</title>
  	<link rel="icon" href="icons/Logo/LogoFAAC.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
      
      <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 crossorigin="anonymous"></script>
     
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <link href="https://fonts.googleapis.com/css?family=Maven+Pro|Vast+Shadow" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/map.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<style>
 body { 
    margin:0; 
    padding:0;
    font-family: 'Vast Shadow', cursive;
    font-family: 'Maven Pro', sans-serif;
    background-image: ("/static/png/mixedaniamls4.jpg");
    background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
</style>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">										<!--Navbar-->
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="/static/png/Logo3-FAAC.png" , width="120" , height="57" , alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index') }}">FAKE Austin Animal Center <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">															<!--Navbar Our website pages links-->
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkVisual" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Visuals
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkVisual">
              <a class="dropdown-item" href="{{ url_for('map') }}">Map</a>
              <a class="dropdown-item" href="{{ url_for('bargraph') }}">Bar Graph</a>
              <a class="dropdown-item"
                href="{{ url_for('scatter') }}">Scatter Plot</a>
            </div>
          </li>
          <li class="nav-item dropdown">															<!--Navbar Links to our Sources used for the website-->
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Sources
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="http://geopandas.org/">Geocode</a>
              <a class="dropdown-item" href="https://www.mapbox.com/">Mapbox</a>
              <a class="dropdown-item"
                href="https://data.austintexas.gov/Locations-and-Maps/Zipcodes/ghsj-v65t">Shapefile</a>
              <a class="dropdown-item"
                href="https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Found-Pets-Map/hye6-gvq2">AAC</a>
            </div>
          </li>
          <ul class="nav-item">
                <a class="float-right" href="http://www.austintexas.gov/department/aac"><img src="/static/png/aac_logo.jpg" , width="120" , height="50" , alt="Logo">
            </ul>
        </ul>
      </div>
    </nav>
  <br>
<br>
<br>
<br>
<br>
<div class="view" style="background-image: url('/static/png/mixedaniamls4.jpg'); background-repeat: no-repeat; background-size: cover; background-position: bottom center;background-attachment: fixed;"></div>
  <div class="container"><!--Slideshow picture-->
  <div class = "row">
  <div class="col-xs-1 hidden-sm" ></div>
  <div class="col-md-10 col-sm-12 hidden-xs"  >
  
      <div id="demo" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="\static\png\slideshow\cropped-cat-header-1.jpg" alt="Cat">
        <div class="carousel-caption">
          <h3>Cats</h3>
          <p2><a href="http://www.austintexas.gov/adoptablepets"></a>Take a Cat home with you today!</a></p2>
        </div>
      </div>
  
      <div class="carousel-item">
        <img src="\static\png\slideshow\Beautiful-birds.jpg" alt="Bird">
        <div class="carousel-caption">
          <h3>Birds</h3>
          <p2><a href="http://www.austintexas.gov/adoptablepets"></a>Thank you, Birds!</a></p2>
        </div>
      </div>
  
      <div class="carousel-item">
        <img src="\static\png\slideshow\mutDog-Header.jpg" alt="Dog">
        <div class="carousel-caption">
          <h3>Dogs</h3>
          <p2><a href="http://www.austintexas.gov/adoptablepets"></a>Found Dogs! Adoptable Dogs!</a></p2>
        </div>
      </div>
    </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  
  
  </div>
  </div></div>
  <br><br>
  <div class= "container">
     <div class = "row">
      <div class="col-xs-1 hidden-sm" ></div>
      <div class="col-md-10 col-xs-12 "  >
        <div class = "row">
          <br>
          <br>
          <div class="well"><h3>Welcome to FAAC!</h3>
            <p>Which stands for FAKE Austin Animal Center. To visit the real Austin Animal Center <a href="http://www.austintexas.gov/department/aac"></a> click here.</a></p>
<!--             <a class="float-right" href="http://www.austintexas.gov/department/aac"><img src="/static/png/aac_logo.jpg" , width="120" , height="50" , alt="Logo"> -->
            <br>
            <p>This FAAC website was created for Group Project #2 for DataAnalytics Bootcamp at Rice University.</p>
            <br>
            <p>Austin, Texas is the largest No Kill community in the nation Providing shelter to more than 16,000 animals each year</p>
            <br>
            <p>The Austin Animal Center is an open-intake facility where lost and surrendered animals from all of Travis County in need of 
              shelter are accepted regardless of age, health, species or breed. The goal of the Austin Animal Center is to place all adoptable animals in forever homes. </p>
            <p>Animal Center Intakes from Oct, 1st 2013 to present. Intakes represent the status of animals as they arrive at the Animal Center.
                All animals receive a unique Animal ID during intake. Annually over 90% of animals entering the center, are adopted, transferred to rescue or returned to their owners.</p>
            </div>  
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

  <!-- MomentJS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

  <!-- Icons -->
  <script src="{{ url_for('static', filename='js/leaflet.extra-markers.min.js') }}"></script>

  <!-- polyfill.io is library for using newer JavaScript features in older browers (such as Object.assign) -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

  <!-- API Key -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>

  <!-- Our JavaScript -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/logic4.js') }}"></script>
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/logic4.js') }}"> -->

</body>

</html>
