<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8' />
	<title>FAAC</title>
	<link rel="icon" href="/static/png/LogoFAAC.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
  
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
  
  <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 crossorigin="anonymous"></script>
 
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
  integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
  crossorigin=""></script>
    
	<link
		href="https://fonts.googleapis.com/css?family=Acme|Asap|Asap+Condensed|Baloo|Baloo+Chettan|Indie+Flower|Jacques+Francois+Shadow|Londrina+Shadow|Maven+Pro|Shadows+Into+Light|Signika|Varela+Round|Vast+Shadow"
		rel="stylesheet">
	<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaflet-tag-filter-button.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ripple.min.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/logic4.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/logic4.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-easy-button.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-tag-filter-button.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>


  <style>
      .leaflet-map {
        height: 500px;
        width: 100%;
      }
      .easy-button-button {
        display: block !important;
      }
      .tag-filter-tags-container {
        left: 30px;
      }
      </style>
</head> 

<body>

	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">										<!--Navbar-->
		<a class="navbar-brand" href="{{ url_for('index') }}">
			<img src="/static/png/Logo3-FAAC.png" , width="120" , height="57" , alt="Logo">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active">
						<a class="nav-link" href="{{ url_for('index') }}">FAKE Austin Animal Center <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown">															<!--Navbar Our website pages links-->
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkVisual" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Visuals
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkVisual">
						<a class="dropdown-item" href="{{ url_for('map') }}">Map</a>
						<a class="dropdown-item" href="{{ url_for('bargraph') }}">Bar Graph</a>
						<a class="dropdown-item"
							href="{{ url_for('scatter') }}">Scatter Plot</a>
					</div>
				</li>
				<li class="nav-item dropdown">															<!--Navbar Links to our Sources used for the website-->
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Sources
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="http://geopandas.org/">Geocode</a>
						<a class="dropdown-item" href="https://www.mapbox.com/">Mapbox</a>
						<a class="dropdown-item"
							href="https://data.austintexas.gov/Locations-and-Maps/Zipcodes/ghsj-v65t">Shapefile</a>
						<a class="dropdown-item"
							href="https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Found-Pets-Map/hye6-gvq2">AAC</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
<br>
<br>
<br>

<div class="container"> <!--Map-->
	<div id='map' style="height:600px; width:1000px; font-family: 'Asap', sans-serif; background-color: lavenderblush;"></div>
	<br>
	<br>
	<div class="bd">
	<p>
			Map of animals intake / outtake at Austin Animal Control
			Overlay intake / outtake on map
			Color the map by demographics (income?)
			Size of marker by number of animals (or multiple circles for animal types?)
			Maybe a single circle for animals, and when you click on it, it breaks out to animal types. 
			Scatter plot of demographics vs animal intake OR outtake (adoption). 
			This would allow a user to select between intake and outtake
			Histogram of intake, outtake
			X-Axis zip code
			Y-Axis intake or outtake (selectable)
			Color could be by zip code, income level or other demographic data we might pull in
			Use APIs to collect the animal control data, which changes daily
			Demographic data is probably a one-time pull, it doesn’t change fast
	
  </p>
  <div id="accordion" style="font-family: 'Asap', sans-serif;"> 																					<!--Text content-->
    <div class="card">
      <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Data Used:
        </button>
      </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
          <p>Postal Zipcodes for Travis County as created by city staff to assist in assigning zipcodes to address information. </p>
          <br>
          <p>Animal Adoptions information comes from <a href="https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data"></a>ACC open data portal</a></p>
          <p></p>
          <p>The Austin Animal Center is an open-intake facility where lost and surrendered animals from all of Travis County in need of 
              shelter are accepted regardless of age, health, species or breed. The goal of the Austin Animal Center is to place all adoptable animals in forever homes. </p>
             <br>
              <p>Animal Center Intakes from Oct, 1st 2013 to present. Intakes represent the status of animals as they arrive at the Animal Center.
                All animals receive a unique Animal ID during intake. Annually over 90% of animals entering the center, are adopted, transferred to rescue or returned to their owners.</p>
      </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Methodology
        </button>
      </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Taking the geojson data from ACC website and inserting them as layers on a Leaflet map.
      </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ACC's map 
          </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
              <div><iframe width="950px" title="Austin Animal Center Found Pets Map" height="808px" src="https://data.austintexas.gov/w/hye6-gvq2/7r79-5ncn?cur=oHC3iF6FNgU&from=root" frameborder="0"scrolling="no"><a href="https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Found-Pets-Map/hye6-gvq2" title="Austin Animal Center Found Pets Map" target="_blank">Austin Animal Center Found Pets Map</a></iframe></div>
          </div>
        </div>
        </div>
    <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Video
          </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <div class="col-md-10"><!-- Music --> 
              <iframe width="200" height="200" src="https://www.youtube.com/embed/7HIxIR9KPmY?start=64" autoplay;frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        </div>
</div>

	</div>
	</div>
	<!--<script src="https://raw.github.com/calvinmetcalf/leaflet-ajax/master/dist/leaflet.ajax.min.js"></script>-->
	<!-- <script src="leaflet.ajax.min.js"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script> -->
	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script> -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
	<!-- <script src="js/leaflet.extra-markers.min.js"></script> -->
	<!--<script type="text/javascript" src="lib/leaflet/leaflet-shapefile.js"></script>-->
	<!--<script type="text/javascript" src="lib/leaflet/shp.js"></script>-->
<script type="text/javascript" src="static/config.js"></script>
<script type="text/javascript" src="static/js/logic4.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/map.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/logic4.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>




</body>
</html>